<!DOCTYPE html>
<html lang="en">

<head>

    <title>DevOper</title>
    <meta name="description" content="DevOper">
    {% include 'includes/other-header.html' %}
    {% include 'includes/header.html' %}
</head>

<body class="bg-light">

  <div class="main-content">


      

    {{ content | safe }}

  </div>
  

  <!-- Scripts -->
  <!-- Core -->
  <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JS -->
  <script src="/static/assets/js/devoper.js"></script>
  
</body>

</html>