 <!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <center><h4>Please use your credentials to proceed</h4></center>
                    <div class="text-muted text-center mt-2 mb-3">

                    </div>

                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <center>

                        <a class="btn btn-primary" href={{auth_url}}>SIGN IN</a>

                    </center>
                </div>
            </div>
            <div class="row mt-3 text-center">
              
            </div>
        </div>
    </div>
</div>