<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link href="/static/assets/img/brand/favicon.png" rel="icon" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700" rel="stylesheet">
<link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/devoper.css" rel="stylesheet">
<link type="text/css" href="/static/assets/vendor/bootstrap/dist/css/toast.css" rel="stylesheet">
<!-- Page plugins -->
<link rel="stylesheet" href="/static/assets/vendor/tabulator/css/tabulator_bootstrap4.min.css">
<!-- PipelineRunner Scripts -->
<!-- Core -->
<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/toast.js"></script>
<!-- Optional JS -->
<script src="/static/assets/vendor/tabulator/js/xlsx.full.min.js"></script>
<script src="/static/assets/vendor/tabulator/js/jspdf.min.js"></script>
<script src="/static/assets/vendor/tabulator/js/jspdf.plugin.autotable.js"></script>
<script src="/static/assets/vendor/tabulator/js/tabulator.min.js"></script>
<!-- PipelineRunner JS -->
<script src="/static/assets/js/devoper.js"></script>


